<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--
Tinker Template
http://www.templatemo.com/tm-506-tinker
-->
        <title>ई-कृषि</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" href="css/lightbox.css">
         <link rel="stylesheet" href="css/cart.min.css">
        

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>


<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top"><em>ई-</em>कृषि</a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top">होम</a></li>
                        <li><a href="#" class="scroll-link" data-id="about">हमारे बारे में</a></li>
                        <li><a href="#" class="scroll-link" data-id="contact-us"> संपर्क </a></li>
                         <!-- <li><a href="#" class="scroll-link" data-id="portfolio">उत्पाद</a></li> -->
                        <li><a href="template.html"  data-id="portfolio">योजना </a></li>
                        <li><a href="FinalCalci.html"  data-id="blog">कैलकुलेटर </a></li>
                        
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="text-content">
                <h2>ई- <span>कृषि</span> <em> का हिस्सा बनें</em></h2>
                <p>मेरे प्रिय साथियों, इस वेबसाइट मे आपका स्वागत है।</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                   Launch
              </button>

<div id="exampleModalCenter" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height:100%;">
    <div class="modal-content" style="height:100%;" >
      <div class="modal-body" style="height:80%;">

        <iframe width="100%" height="100%" src="https://youtu.be/aRa4lES6ZjE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
       <!--  <video controls>
          <source src="abc.mp4" type="video/mp4">
        </video>
 -->
      </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </div>



    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/prd.png" alt=""/>
                        </div>
                        <h4><b>उत्पाद</b></h4>
                        <div class="line-dec"></div>
                        <p>खाद्य सबसे व्यापक रूप से उत्पादित कृषि उत्पाद है, और, वास्तव में, वैश्विक प्रति व्यक्ति खाद्य आपूर्ति (जैसा कि प्रति व्यक्ति कैलोरी में मापा जाता है) पिछले 50 वर्षों में 20 प्रतिशत से अधिक बढ़ी है।</p>
                        <div class="primary-blue-button">
                            <a href="products.html" >अधिक जानिए</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/eqp.png" alt="">
                        </div>
                        <h4><b>कृषि उपकरण</b></h4>
                        <div class="line-dec"></div>
                        <p>खाद्य सबसे व्यापक रूप से उत्पादित कृषि उत्पाद है, और, वास्तव में, वैश्विक प्रति व्यक्ति खाद्य आपूर्ति (जैसा कि प्रति व्यक्ति कैलोरी में मापा जाता है) पिछले 50 वर्षों में 20 प्रतिशत से अधिक बढ़ी है।</p>
                        <div class="primary-blue-button">
                            <a href="/home" >अधिक जानिए</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/forum.png" alt="">
                        </div>
                        <h4><b>मंच</b></h4>
                        <div class="line-dec"></div>
                        <p>कृषि अनुसंधान पर वैश्विक मंच एक समावेशी वैश्विक तंत्र है जो कृषि के भविष्य के साथ जुड़े सभी लोगों को और दुनिया भर के विकास में उनकी भूमिका को एक साथ आने और प्रमुख वैश्विक जरूरतों को पूरा करने के लिए सक्षम करता है।</p>
                        <div class="primary-blue-button">
                            <a href="/user/signin">अधिक जानिए</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/advice.png" alt="">
                        </div>
                        <h4><b>सलाह</b></h4>
                        <div class="line-dec"></div>
                        <p>आपके खेत में स्थिरता में सुधार करने के कई तरीके हैं - चाहे वह एग्रोफोरस्ट्ररी (रोपण पेड़ जो मिट्टी में वापस पोषक देता है),  बहुत कम लागत वाली, सरल है और वे पर्यावरणीय क्षरण, वनों की कटाई और खाद्य असुरक्षा को रोकने में मदद कर सकते हैं।</p>
                        <div class="primary-blue-button">
                            <a href="tips.html">अधिक जानिए</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_04.png" alt="">
                        </div>
                        <h4>One-Click Install</h4>
                        <div class="line-dec"></div>
                        <p>Integer hendrerit vehicula mauris, sed pellentesque sem facilisis at. Aliquam vel arcu metus. Nam sem lectus, mattis non tellus et, tincidunt condimentum eros.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

<!-- main page section  -->

<div class="container">
                <div class="theme_title"><br/>
                                    <h3 style="font-size: 30px;"><b>मुख्य </b><span class="text-theme-color-2"><b>  प्रष्ट </b></span></h3>
                                </div>
               <!--   <div class="breadcrumbs text-center">
                <h2 class="text-uppercase mt-0">मुख्य <span class="text-theme-color-2">  प्रष्ट </span></h2></div> -->
                    <div class="row">
                       
                       <div class="col-md-6">
                       <br/><br/>
                           <h6 align="justify" style="font-size: 25px;">  मेरे प्रिय साथियों, इस वेबसाइट मे आपका स्वागत है।</h6>
                           <br/>
                           <p align="justify" style="font-size: 17px; font-family: -webkit-body;">  इस वेबसाइट के माध्यम से हमारी संस्था ई-खेती जी ई रोड, रायपुर अपने उत्पाद, सेवाऐं, मिशन, हमारे बारे में तथा संपर्क जैसे बिन्दुओ पर आपका ध्यान केंद्रित करेगी । हमने इस वेबसाइट में अपनी मातृभाषा हिंदी तथा अंतर्राष्ट्रीय भाषा अंग्रेजी का प्रयोग किया गया है। जिसके माध्यम से हमने सुवाच्य एवम सरल भाषा शैली तथा आवश्यक्ता अनुसार चित्रो का चयन किया गया है, जिससे कृषक और आमजन को स्वम समझाने में आसानी हो, हम इस कार्यक्र्म ( उद्देश्यों ) में समय समय पर होने वाले आवश्यक परिवर्तनों पर विचार करेंगे तथा उपभोक्ता, उपयोगिता के आधार पर हमारी संस्था बिचार - बिमर्श कर उत्त्पाद, सेवाएं तथा साहित्य में समय अनुसार उपयोगी परिवर्तन ला सकेगी, आपके सुझाव व परामर्श हमें दिशा देंगे जिससे समाज निर्माण तथा देश निर्माण में गतिशीलता प्रदान होगी ।
                           </p><br/>
                          <div class="name color1" style="font-size: 17px;">धन्यवाद, जय हिन्द । </div>

                                         <center>  <div class="about_quot" style="font-size: 17px;"> जय जननी - जय  जवान - जय किसान </div> </center> 
                                    
                       </div><br/><br/><br/>
                       <div class="col-md-6">
                       <figure class="img-holder">
                          <img src="img/s-bg.jpg">
                          </figure>
                       </div>

                      </div>
                      </div>

    <!-- <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Vivamus cursus at est in gravida. Phasellus semper est quis tellus viverra consectetur eget sed leo. Quisque consectetur tempor cursus. Nullam ut mauris fermentum, pretium risus id, tincidunt ante. ”</p>
                                <h4>George Rich</h4>
                                <span>Web Designer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Phasellus orci nisi, varius sed lacinia et, pulvinar quis est. Curabitur a tincidunt tortor. Cras rhoncus sodales massa sagittis malesuada. Nulla maximus vitae lorem vel elementum. ”</p>
                                <h4>John Henry</h4>
                                <span>New Manager</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Phasellus aliquam finibus est, id tincidunt mauris fermentum a. In elementum diam et dui congue, ultrices bibendum mi lacinia. Aliquam lobortis dapibus nunc, nec tempus odio posuere quis. ”</p>
                                <h4>Danny Cute</h4>
                                <span>CEO Founder</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Quisque ut ligula venenatis, euismod risus vel, consequat lacus. In ut purus id felis euismod cursus. Praesent in pulvinar arcu, vitae hendrerit lectus. Quisque a urna magna. ”</p>
                                <h4>Richard Beal</h4>
                                <span>CSS Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

 <!-- News and Update section -->
  <div class="container">
 <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    <b>समाचार और अपडेट</b></h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel"
        style="
    margin-bottom: 40px;">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a"/>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-1</h5>
                                           
                                        </div>
                                        <!-- <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div> -->
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-2</h5>
                                           
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-3</h5>
                                            
                                        </div>
                                        <!-- <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div> -->
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-4</h5>
                                            
                                        </div>
                                        <!-- <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div> -->
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-5</h5>
                                           
                                        </div>
                                        <!-- <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div> -->
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-6</h5>
                                            
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-7</h5>
                                            
                                        </div>
                                       <!--  <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div> -->
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <!-- <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="img/n-bg.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                समाचार-8</h5>
                                            
                                        </div>
                                        <!-- <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div> -->
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                       <!--  <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p> -->
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">अधिक जानकारी</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


  <!-- news section end -->


    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>संपर्क </h4>
                        <div class="line-dec"></div>
                        <p>राष्ट्रीय प्रौद्योगिकी संस्थान, रायपुर, पूर्व में सरकारी इंजीनियरिंग कॉलेज रायपुर, भारत सरकार रायपुर, छत्तीसगढ़, भारत में स्थित एक तकनीकी संस्थान है।</p>
                        <p>पता: एनआईटी रायपुर, जीई रोड, रायपुर, छत्तीसगढ़ 492001</p>
                       <!--  <div class="pop-button">
                            <h4>Send us a message</h4>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="pop">
                        <span>✖</span>
                        <form id="contact" action="#" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">मेसेज भेजें</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map">
        <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.5490831480774!2d81.60284041493637!3d21.24972218587909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde3a5593ddd%3A0xa6101c9f24e1ce9f!2sHospital%2C+NIT+Raipur!5e0!3m2!1sen!2sin!4v1517592960823"  width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a href="#" class="scroll-top"><em>ई-</em>कृषि</a>
                        <p>Copyright &copy; 2017 e-Company 
                      | Design: <a href="#"><span style="font-size:13px">अमृत कुमार</span></a>, <a href="#"><span style="font-size:13px">अनुपम कर्ण</span></a>, <a href="#"><span style="font-size:13px">देवयानी</span></a>, <a href="https://www.facebook.com/hiteshnayak305.1"><span style="font-size:13px">हितेश नायक</span></a>, <a href="#"><span style="font-size:13px">सौरभ पाठक</span></a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>स्थान</h4>
                        <ul>
                            <li>एनआईटी रायपुर,<br>जीई रोड, रायपुर</li>
                            <li>छत्तीसगढ़,<br>492001</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>अधिक जानकारी</h4>
                        <ul>
                            <li><em>फ़ोन</em>: 111-021-0333</li>
                            <li><em>ईमेल</em>: nit@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>हमारे साथ सोशल हो जाओ</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>