<!DOCTYPE html>
<html>
<head>
<title>Agriculture Policies</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    .header{
      font-size:24px;
      text-align:center;
    }
    .a_list{
      text-align:center;
    }
  </style>
</head>
<body style="background-image:url('background.jpg'); background-size: cover; padding: 15px;">
<div class="table-responsive " style="width:80%; margin:auto; background-color: rgba(255,255,255,0.9); border-radius: 10px; box-shadow: 2px 7px 17px -5px; ">
    <table  class="table table-bordered" style="width:95%; margin:15px auto;">
        <thead>
          <tr>
              <th style="background-color: #79b03b;">CENTRAL</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><li><a href="#!">National Bio-Science awards for career development </li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Agricultural Census</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Jute Technology Mission</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Technology Mission on Cotton (Mini Mission III & IV)</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Rashtriya Krishi Vikas Yojana (RKVY)</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Livestock Insurance Scheme</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">National Scheme on Welfare of Fishermen</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Scheme on Fisheries Training and Extension</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Gramin Bhandaran Yojna</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Central Assistance to State Plan Scheme on Watershed Development</li></a></td>
          </tr>
          <tr>
            <td><li><a href="#!">Capacity Building to enhance Competitiveness of Indian Agriculture and Registration of Organic Product</li></a></td>
          </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="table-responsive" style="width:80%; margin:auto; background-color:rgba(255,255,255,0.9) ; border-radius: 10px; box-shadow: 2px 7px 17px -5px;">
<table class="table table-bordered" style="width:95%; margin:15px auto; border-color: #000;">
<caption>Schemes related to state departments</caption>
<tbody><tr><th style="background-color: #79b03b;">State</th><th style="background-color: #79b03b;">Schemes</th></tr>
<tr class="leftalign" valign="top"><td>Andaman and Nicobar Island</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=209">Supply of inboard/outboard engines at 50 per cent subsidy</a></li>
      <li><a href="viewscheme.php?schemeid=693">Fodder Development Programme</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Andhra Pradesh</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=1600">Polambadi</a></li>
      <li><a href="viewscheme.php?schemeid=1801">Seed Village Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1806">Rashtriya Krishi Vikas Yojana</a></li>
      <li><a href="viewscheme.php?schemeid=1895">Economic Assistance (Bankable Scheme)</a></li>
      <li><a href="viewscheme.php?schemeid=1905">Scheme of Development of Primitive Tribal Groups</a></li>
      <li><a href="viewscheme.php?schemeid=1913">National Horticulture Mission</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Chhattisgarh</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=35">Chatragrih Yojna</a></li>
      <li><a href="viewscheme.php?schemeid=52">Book Bank Yojna</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Goa</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=429">Development of Agricultural Extension</a></li>
      <li><a href="viewscheme.php?schemeid=430">Development of Manure Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=427">Soil and Water Conservations Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=563">National Horticulture Mission Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=568">Cultivation of Red Oil Palm (ISOPOM) Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=675">Agricultural Research &amp; Education</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Gujarat</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=370">Scheme for Integrated Horticulture Development Programmes</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Himachal Pradesh</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=83">Flood Protection Works</a></li>
      <li><a href="viewscheme.php?schemeid=89">Command Area Development Programme</a></li>
      <li><a href="viewscheme.php?schemeid=78">Quality Seed Multiplication and Distribution</a></li>
      <li><a href="viewscheme.php?schemeid=378">Crop Improvement Programme</a></li>
      <li><a href="viewscheme.php?schemeid=380">Rashtriya Krishi Bima Yojna</a></li>
      <li><a href="viewscheme.php?schemeid=381">Rural Infrastructure Development Fund (RIDF)</a></li>
      <li><a href="viewscheme.php?schemeid=590">Prime Minister Rozgar Yojana (PMRY)</a></li>
      <li><a href="viewscheme.php?schemeid=581">Entrepreneurial Development of Women Farmers</a></li>
      <li><a href="viewscheme.php?schemeid=580">Development of Beekeeping</a></li>
      <li><a href="viewscheme.php?schemeid=579">Establishment of Tissue/Leaf Analysis Laboratory</a></li>
      <li><a href="viewscheme.php?schemeid=578">Establishment of Plant Health Clinic</a></li>
      <li><a href="viewscheme.php?schemeid=379">Incentive to Farmers</a></li>
      <li><a href="viewscheme.php?schemeid=892">MT Non-Agricultural Loan Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=888">Society Agriculture Loan Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=889">MT Agriculture Loan Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=946">Rural Development through Diversification in Agriculture</a></li>
      <li><a href="viewscheme.php?schemeid=947">Self Reliance through Sericulture and Dairy Development</a></li>
      <li><a href="viewscheme.php?schemeid=901">Kisan Credit Card Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1622">Subsidy on Horticulture Production Inputs to Small Farmers</a></li>
      <li><a href="viewscheme.php?schemeid=1675">General Loan Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1666">Him Swalamban Yojna-Loan Scheme for SC/ST Persons for Starting Transport, Service, Agricutlure Secto</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Haryana</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=738">Scheme for Agriculture Engineering and Services</a></li>
      <li><a href="viewscheme.php?schemeid=739">Soil Conservation</a></li>
      <li><a href="viewscheme.php?schemeid=740">Sustainable Development of Sugarcane Based Cropping System (SUBACS) Macro Management of Agriculture</a></li>
      <li><a href="viewscheme.php?schemeid=85">Financial Assistance to Panchayats and Panchayat Samitis</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Jammu and Kashmir</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=1330">Agriculture Export Zones</a></li>
      <li><a href="viewscheme.php?schemeid=1355">Technology Mission for Post Harvest Management, Marketing and Exports</a></li>
      <li><a href="viewscheme.php?schemeid=1477">Technology Transfer</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Kerala</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=1423">Scheme for Strengthening of Agricultural Extension</a></li>
      <li><a href="viewscheme.php?schemeid=1413">Rashtriya Krishi Vikas Yojana (RKVY)</a></li>
      <li><a href="viewscheme.php?schemeid=1412">Commodity Safety Net Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1385">Development of Vegetable Cultivation in Villages</a></li>
      <li><a href="viewscheme.php?schemeid=1387">Crop Insurance Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1383">Scheme for Integrated Development of Coconut Holdings in the State</a></li>
      <li><a href="viewscheme.php?schemeid=1381">Sustainable Development of Rice Based Farming System</a></li>
      <li><a href="viewscheme.php?schemeid=1380">Schemes for Integrated Pest Management System</a></li>
      <li><a href="viewscheme.php?schemeid=1379">Modernisation of Agricultural Farms under the Department of Agriculture</a></li>
      <li><a href="viewscheme.php?schemeid=1424">Scheme for Soil and Water Conservation on Watershed Basis</a></li>
      <li><a href="viewscheme.php?schemeid=1389">National Agricultural Insurance Scheme (NAIS)</a></li>
      <li><a href="viewscheme.php?schemeid=1386">Scheme to Expand Information Services for Farm Information and Communication in the State</a></li>
      <li><a href="viewscheme.php?schemeid=1402">Integrated Development of Scampi/Fish Farming</a></li>
      <li><a href="viewscheme.php?schemeid=1390">Small Farm Mechanisation</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Maharashtra</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=172">Tree Planting on Community Lands in Identified Watersheds</a></li>
      <li><a href="viewscheme.php?schemeid=174">Western Ghat Development Programme</a></li>
      <li><a href="viewscheme.php?schemeid=177">NABARD-WDF Assisted Watershed Development Programme</a></li>
      <li><a href="viewscheme.php?schemeid=183">River Valley Project</a></li>
      <li><a href="viewscheme.php?schemeid=184">Gram Sachivalaya Yojana (GSY)</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Meghalaya</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=466">Sampoorna Grameen Rozgar Yojana (SGRY)</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Manipur</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=66">Pradhan Mantri Gram Sadak Yojana (PMGSY)</a></li>
      <li><a href="viewscheme.php?schemeid=515">Macro Management Mode of Agriculture</a></li>
      <li><a href="viewscheme.php?schemeid=526">Oilseed Production Programme</a></li>
      <li><a href="viewscheme.php?schemeid=530">National Pulse Development Programme</a></li>
      <li><a href="viewscheme.php?schemeid=538">Accelerated Maize Development Programme(AMDP)</a></li>
      <li><a href="viewscheme.php?schemeid=542">Integrated Cereal Development Programme (ICDP)-Rice</a></li>
      <li><a href="viewscheme.php?schemeid=545">Sustainable development on sugarcane base cropping system(SUBACS)</a></li>
      <li><a href="viewscheme.php?schemeid=546">Strengthening of Existing Laboratory</a></li>
      <li><a href="viewscheme.php?schemeid=547">Farm Mechanization</a></li>
      <li><a href="viewscheme.php?schemeid=548">Rodent Control</a></li>
      <li><a href="viewscheme.php?schemeid=549">Integrated Pest Management</a></li>
      <li><a href="viewscheme.php?schemeid=550">Reclamation of water logged lands</a></li>
      <li><a href="viewscheme.php?schemeid=551">Promotion of Green Manure Crops</a></li>
      <li><a href="viewscheme.php?schemeid=552">Agriculture Technology Management Agency (ATMA)</a></li>
      <li><a href="viewscheme.php?schemeid=772">Watershed Development Project in Shifting Cultivation Areas (WDPSCA)</a></li>
      <li><a href="viewscheme.php?schemeid=1658">Rashtriya Krishi Vikas Yojana (RKVY)</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Madhya Pradesh</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=762">Krashak Mitra Yojna</a></li>
      <li><a href="viewscheme.php?schemeid=782">Sooraj-Dhara Yojna (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=781">Bhoo-Jal Samwardhan Yojna (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=783">Rashtriya Jalgrahan Kshetra Vikas Karykram (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=785">Rashtriya Krishi Beema Yojna (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=786">Ponds Construction Scheme for Irrigation (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=787">Rashtiya Biogas Vikas Yojna (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=788">Balram Taal Construction Scheme (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=789">Annapurna Yojna (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=790">Saghan Kapas Vikas (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=791">Isopam Yojna (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=792">Sugarcane  Development Scheme (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=793">Unified Grains Development Scheme (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=763">Rashtriya Krishi Beema Yojna</a></li>
      <li><a href="viewscheme.php?schemeid=641">Minor Irrigation Scheme (Hindi-Download DVW-TTYogeshEN Fonts)</a></li>
      <li><a href="viewscheme.php?schemeid=800">Amalgamated Special Fund (ASF) Schemes</a></li>
      <li><a href="viewscheme.php?schemeid=1240">River Bank/ Flood Water conservation Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=464">Micro Management of Agriculture</a></li>
      <li><a href="viewscheme.php?schemeid=463">Laghu Sinchai Yojnantargat Nalkoop Khanan Yojna</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Mizoram</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=1558">National Agricultural Insurance Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1559">Farm Mechanization</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Odisha</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=817">Scheme On Consumer Clubs</a></li>
      <li><a href="viewscheme.php?schemeid=1210">Pradhan Mantri Gram Sadak Yojna, PMGSY</a></li>
      <li><a href="viewscheme.php?schemeid=1408">Watershed Development Programme</a></li>
      <li><a href="viewscheme.php?schemeid=1457">Rashtriya Krishi Vikas Yojana</a></li>
      <li><a href="viewscheme.php?schemeid=1456">National Project on Management of Soil Health and Fertility</a></li>
      <li><a href="viewscheme.php?schemeid=1470">National Food Security Mission</a></li>
      <li><a href="viewscheme.php?schemeid=1644">Command Area Development &amp; Water Management (CADWM) Programme</a></li>
      <li><a href="viewscheme.php?schemeid=1643">Scheme for Pani Panchayat</a></li>
      <li><a href="viewscheme.php?schemeid=1499">Scheme on Organic Farming</a></li>
      <li><a href="viewscheme.php?schemeid=1269">Integrated Rural Energy Planning (IREP)</a></li>
      <li><a href="viewscheme.php?schemeid=1208">Orissa Tribal Empowerment and Livelihood Programme(OTELP)</a></li>
      <li><a href="viewscheme.php?schemeid=735">Component Wise Operational Guideline for ISOPOM 2007-08 Integrated Scheme of Oilseeds,Pulses &amp; Maize</a></li>
      <li><a href="viewscheme.php?schemeid=727">Farm Mechanization Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=722">Balance and Integrated use of Fertiliser Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=687">Sugarcane Development Scheme</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Punjab</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=812">Subsidy on Ridomil/Hybrid seeds/ Demonstration plots</a></li>
      <li><a href="viewscheme.php?schemeid=1606">Prime Minister's Rozgar Yojana(PMRY)</a></li>
      <li><a href="viewscheme.php?schemeid=339">Kanaya Jagriti Jyoti Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=138">Training Infrastructure in Dairying for Rural Dairy Farmers</a></li>
      <li><a href="viewscheme.php?schemeid=1663">Farmer's Welfare Scheme </a></li>
      <li><a href="viewscheme.php?schemeid=1667">Rashtriya Krishi Vikas Yojana (RKVY)</a></li>
      <li><a href="viewscheme.php?schemeid=1929">Mai Bhago Istri Shakti Scheme</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Puducherry</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=591">Schemes for Agricultural Workers Welfare Society</a></li>
      <li><a href="viewscheme.php?schemeid=962">Key Village Scheme</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Rajasthan</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=1164">Doctor Ka Apna Clinic Scheme, 2008</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Tamil Nadu</td><td valign="top"><ul style="margin-top:0px;">      <li><a href="viewscheme.php?schemeid=166">Tamil Nadu Women Development Project</a></li>
      <li><a href="viewscheme.php?schemeid=143">Land Purchase Scheme for Scheduled Caste/Tribe Women</a></li>
      <li><a href="viewscheme.php?schemeid=151">Integrated Horticulture Development Scheme</a></li>
      <li><a href="viewscheme.php?schemeid=1339">Schemes under Tamil Nadu Watershed Development Agency (TAWDEVA)</a></li>
      <li><a href="viewscheme.php?schemeid=1338">Tamil Nadu Agricultural Labourers  - Farmers (Social Security and Welfare) Scheme, 2006</a></li>
</ul></td></tr><tr class="leftalign" valign="top"><td>Tripura</td><td valign="top"><ul style="margin-top:0px;">     <li><a href="viewscheme.php?schemeid=212">Somporna Gramin Rozgar Yojana (SGRY)</a></li>
</ul></td></tr>
</tbody>
</table>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>